# Python artifacts
__pycache__/
*.py[cod]
*.egg-info/
.venv/
build/

# Environment & secrets
.env
.env.*

# Version control
.git/
.gitignore

# Docker files themselves (no need to copy in)
Dockerfile
.dockerignore

# OS noise
.DS_Store
Thumbs.db

# Editor/IDE configs
.vscode/
.idea/
*.swp